<template>
  <q-page class="column items-center">
    <div class="row full-width justify-evenly q-ma-md">
      <q-file
        v-model="file"
        label="Select a xlsx file"
        filled
        style="max-width: 300em"
        counter
        accept=".xlsx"
        @update:model-value="handleUpload()"
      >
        <template #prepend>
          <q-icon name="attach_file" />
        </template>
      </q-file>

      <q-select
        v-model="selectedSheetName"
        :options="sheetNames"
        label="Select a sheet"
        style="min-width: 10em"
        @update:model-value="setData"
      />

      <span>
        Specify in which area of the sheet the table you want to convert is
        located (e.g: "F20:K23"):
        <q-input
          outlined
          v-model="range_field"
          label="Range"
          :error="!isValid"
          error-message="wrong format"
        />
        <q-btn @click="setWholeRange" class="q-mt-md">Whole sheet</q-btn>
      </span>
      <span>
        <q-select
          v-model="tableType"
          :options="tableTypes"
          label="Select a table type"
          style="min-width: 15em"
        />
      </span>
      <q-btn @click="generate" label="Generate" color="primary" />
    </div>

    <q-input
      v-model="generated_latex"
      filled
      type="textarea"
      class="full-width"
    />
  </q-page>
</template>

<script setup lang="ts">
import { Ref, ref, computed } from 'vue';
import * as xlsx from 'xlsx';
import {
  TableType,
  getLabelOfTableType,
  generateLatex,
} from 'src/table-generator/generate';

defineOptions({
  name: 'IndexPage',
});

const generated_latex = ref('');

const tableTypes: {
  value: TableType;
  label: string;
}[] = [];
// eslint-disable-next-line @typescript-eslint/no-unused-vars
for (const [_, value] of Object.entries(TableType)) {
  tableTypes.push({ value: value, label: getLabelOfTableType(value) });
}

const tableType = ref(tableTypes[0]);

const file = ref(null);
const workbook: Ref<xlsx.WorkBook | null> = ref(null);
const sheetNames: Ref<string[]> = ref([]);
const selectedSheetName: Ref<string | null> = ref(null);
const selectedSheet: Ref<xlsx.WorkSheet | null> = ref(null);
// const sheetData: Ref<unknown[] | null> = ref(null);

const range_field = ref('');

const isValid = computed(() => {
  const isPartValid = (p: string): boolean => {
    const isLetter = (s: string): boolean => {
      return [
        'A',
        'B',
        'C',
        'D',
        'E',
        'F',
        'G',
        'H',
        'I',
        'J',
        'K',
        'L',
        'M',
        'N',
        'O',
        'P',
        'Q',
        'R',
        'S',
        'T',
        'U',
        'V',
        'W',
        'X',
        'Y',
        'Z',
      ].includes(s);
    };
    const isDigit = (s: string): boolean => {
      return ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'].includes(s);
    };

    const chararray = p.split('');
    let letter_flag = false;
    let digit_flag = false;
    let switched = false;
    for (let i = 0; i < chararray.length; i++) {
      const char = chararray[i];
      if (!isLetter(char) && !isDigit(char)) return false;

      if (!switched && isLetter(char)) {
        letter_flag = true;
        continue;
      } else if (!switched && isDigit(char)) {
        if (char === '0') return false;
        switched = true;
        digit_flag = true;
        continue;
      } else if (switched && isDigit(char)) {
        continue;
      }

      return false;
    }

    return letter_flag && digit_flag;
  };
  const sp = range_field.value.split(':');
  if (sp.length !== 2) return false;

  return isPartValid(sp[0]) && isPartValid(sp[1]);
});

const setWholeRange = () => {
  if (selectedSheet.value != null && selectedSheet.value['!ref'] != null) {
    range_field.value = selectedSheet.value['!ref'];
  }
};

const resetWorkbookData = () => {
  sheetNames.value = [];
  selectedSheetName.value = null;
  selectedSheet.value = null;
  // sheetData.value = null;
  range_field.value = '';
};

const setData = () => {
  if (workbook.value !== null && selectedSheetName.value !== null) {
    selectedSheet.value = workbook.value.Sheets[selectedSheetName.value];
    // sheetData.value = xlsx.utils.sheet_to_json(selectedSheet.value); // xlsx.utils.sheet_to_json(ws, { header: 1 });

    // if (selectedSheet.value['!ref'] != null) {
    //   range_field.value = selectedSheet.value['!ref'];

    //   // console.log(xlsx.utils.decode_range(selectedSheet.value['!ref']));
    //   // console.log(
    //   //   xlsx.utils.encode_range(
    //   //     xlsx.utils.decode_range(selectedSheet.value['!ref'])
    //   //   )
    //   // );
    // }
    // console.log(selectedSheetName.value);
    // console.log(selectedSheet.value);
    // console.log('A1: ', selectedSheet.value['B2'].v);
    // sheetData.value.forEach((d) => console.log(d));
    // console.log(sheetData.value);
    // console.log(xlsx.utils.sheet_to_html(selectedSheet.value));
  }
};

const handleUpload = () => {
  console.log('handleUpload is triggered');

  if (!file.value) {
    console.log('Please upload a xlsx file');
    return;
  } else {
    resetWorkbookData();

    const reader = new FileReader();
    reader.onerror = (e) => {
      console.log(e);
    };
    reader.onload = (e) => {
      /* Parse data */
      const bstr = e.target?.result;
      workbook.value = xlsx.read(bstr, { type: 'binary' });
      sheetNames.value = workbook.value.SheetNames;
    };
    reader.readAsBinaryString(file.value);
  }
};

const generate = function () {
  generated_latex.value = generateLatex(
    selectedSheet.value,
    range_field.value,
    tableType.value.value
  );
};
</script>
